body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: green;
}
h2{
    color: darkgreen;
}

.btn{
    display: inline-block;
    padding: 20px;
    background: #428BCA;
    color: #fff;
    font-size: 30px;

    /* transition-property: background-color, padding;
    transition-duration: 500ms, 1s;
    transition-delay: 100ms;
    transition-timing-function: ease-in-out; */

    transition: background-color 500ms ease-out, padding 800ms;
}

.btn:hover{
    background-color: #2248CA;
    padding-left: 30px;
    padding-right: 30px;
}