body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: green;
}
h2{
    color: darkgreen;
}


@keyframes changeColor{
    from {background-color: red;}
    to {background-color: blue;}
}

.box{
    width: 200px;
    height: 200px;
    border-style: solid;
    animation-name: changeColor;
    animation-duration: 3s;
}